:root {
  font-size: 12px;

  /* colors */
  --text-color: #F0F0F0;
  --text-color-muted: #9E9E9E;
  --background-color-dark: #272727;
  --background-color-medium: #353535;
  --background-color-light: #3D3F40;
  --background-color-highlighted: #4F5252;
  --background-color-bright: #5A5E5E;

  --accent-color-blue: #66CCCC;
  --accent-color-orange: #EB9662;
  --error-color: #E97878;

  --border-color-dark: #323232;
  --border-color-light: #555555;

  /* fonts */
  --sans-serif-font-family: 'Inter', sans-serif;
  --monospace-font-family: 'Roboto Mono', monospace;

  /* misc */
  --preferred-border-radius: 3px;

  --heading-decoration-padding: 6px;
  --heading-decoration-border: 2px solid var(--accent-color-orange);
}

body {
  margin: 0;
  font-family: var(--sans-serif-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--background-color-dark);
  color-scheme: dark;
}

.ace-tomorrow-night-eighties {
  color: var(--text-color) !important;
  background-color: var(--background-color-dark) !important;
}
.ace-tomorrow-night-eighties .ace_gutter {
  color: var(--text-color-muted) !important;
  background-color: var(--background-color-medium) !important;
  border-right: 1px solid var(--border-color-light) !important;
}
.ace-tomorrow-night-eighties .ace_tooltip {
  padding: 8px !important;
  color: var(--text-color) !important;
  background: var(--background-color-light) !important;
  border: 1px solid var(--error-color) !important;
}

:focus-visible {
  outline: 2px solid var(--accent-color-orange);
}

a {
  color: inherit;
}
a:visited {
  color: inherit;
}
