.header {
  padding: 15px 10px;
  background-color: var(--background-color-light);
  border-bottom: 1px solid var(--border-color-dark);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.left {
  font-size: 1.8rem;
  font-weight: 600;
  justify-self: start;
}

.right {
  justify-self: end;
  display: flex;
  gap: 10px;
}

.header-button {
  padding: 5px;
  font-size: 1.2rem;
}

.red-text {
  color: var(--error-color);
}
