.header {
  min-height: 55px;
  padding: 10px 10px;
  background-color: var(--background-color-light);
  border-bottom: 1px solid var(--border-color-dark);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.left {
  justify-self: start;
}

.right {
  justify-self: end;
  display: flex;
  gap: 10px;
}

.siteName {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

.header-button {
  padding: 8px;
  font-size: 1.2rem;
  background-color: var(--background-color-highlighted);
  border: none;
}
.header-button:hover {
  background-color: var(--background-color-bright);
}
.header-button:active {
  background-color: var(--background-color-medium);
}

.red-text {
  color: var(--error-color);
}
