.title {
  font-size: 1.6rem;
  position: relative;
}

.edit-button {
  display: inline;
  position: absolute;
  margin-left: 5px;
  cursor: pointer;
}

.title-input {
  font-size: 1.6rem;
  padding: 0px;
  text-align: center;
  outline-offset: 3px;
  border: none;
}
