.title {
  font-size: 1.6rem;
  position: relative;
}

.edit-button {
  position: absolute;
  bottom: 0;
  right: -5px;
  transform: translate(100%);
  display: inline-block;
}

.title-input {
  font-size: 1.6rem;
  padding: 0px;
  text-align: center;
  outline-offset: 3px;
  border: none;
}
