.editor {
  position: relative;
  color: var(--text-color);
  background-color: var(--background-color-light);
  display: grid;
}

.error-marker {
  position: absolute;
  z-index: 3;
  border-radius: 0;
  border-bottom: 1px dotted var(--error-color);
}

.error-overlay {
  --inset: 10px;
  position: absolute;
  bottom: var(--inset);
  left: calc(48px + var(--inset));
  right: var(--inset);
  z-index: 5;
  padding: 8px;
  color: var(--text-color);
  background-color: var(--background-color-light);
  border: 1px solid var(--error-color);
  font-family: var(--monospace-font-family);
  font-size: 1.2rem;
  font-weight: bold;
}
