.programs-table {
  font-size: 1.2rem;
  width: 100%;
}
.programs-table thead {
  font-weight: 600;
}
.programs-table td {
  padding: 10px 15px;
  vertical-align: middle;
}
.programs-table thead tr {
  border-bottom: 1px solid var(--border-color-light);
}
.programs-table tbody tr {
  border-bottom: 1px solid var(--border-color-light);
}
.programs-table tbody tr:last-child {
  border-bottom: none;
}

.buttons {
  display: flex;
  gap: 5px;
}

.delete-button {
  color: var(--warning-color);
}
