.layout {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  background-color: var(--background-color-medium);
  padding: 25px;
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
}

.section > *:first-child {
  align-self: flex-start;
}

.new-program-button {
  margin-top: 30px;
  align-self: flex-end;
  font-size: 1.2rem;
}

.heading {
  display: inline-block;
  font-size: 2rem;
  padding-bottom: var(--heading-decoration-padding);
  border-bottom: var(--heading-decoration-border);
  margin-bottom: 30px;
}
