.tab-bar {
  display: flex;
  height: 100%;
}

.tab {
  padding: 0 10px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  user-select: none;
}
.tab.active {
  border-bottom: 2px solid var(--accent-color-orange);
  background-color: var(--background-color-highlighted);
}
.tab.error {
  color: var(--error-color);
}
.tab.error::after {
  content: '!';
  font-weight: bold;
}
