.layout {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "toolbar toolbar"
    "editor scene"
  ;
  grid-template-rows: min-content min-content auto;
  grid-template-columns: 1fr 1fr;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.content-area {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

.toolBarLeft {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid var(--border-color-dark);
}

.toolBarRight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
