.control {
  color: var(--text-color);
  background-color: var(--background-color-light);
  border: 1px solid var(--border-color-light);
  border-radius: 3px;
}

.input {
  padding: 10px;
}

.button {
  font-size: 2rem;
  padding: 10px;
}
.button:hover {
  background-color: var(--background-color-highlighted);
}
.button:active {
  background-color: var(--background-color-medium);
}
.button[disabled] {
  color: var(--text-color-muted);
  background-color: var(--background-color-dark);
}

.icon-button {
  padding: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.icon-button[disabled] {
  background-color: transparent;
}
